body{
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
    font-weight: 800;
}

.pageBackground{
    background: #FAEBD7;
    background: -webkit-linear-gradient(10deg, #FAEBD7 40%, #66CDAA 10%);
    background: -o-linear-gradient(10deg, #FAEBD7 40%, #66CDAA 10%);
    background: -moz-linear-gradient(10deg, #FAEBD7 40%, #66CDAA 10%);
    background: linear-gradient(10deg, #FAEBD7 40%, #66CDAA 10%);
    height: 100%;
}

ul a{
    font-size: 160%;
}

.navbar{
    background-image: none;
}

#liEdit:hover{
    color: #FFFAF0;
}

#liEdit{
    color: #696969;
}

.background{
    background: #FFFAF0;
    margin: auto;
    max-width: 1400px;
}

.backgroundNav{
    background: transparent;
    border: none;
}

h1 {
    color: #008080;
    padding-top: 10px;
    font-size: 300%;
    font-weight: 900;
}

h2 {
    color: #5F9EA0;
    padding-bottom: 10px;
}

@media all and (max-width 600px){
    h1 {
        padding-top: 5px;
        font-size: 120%;
        font-weight: 900;
    }

    h2 {
        color: #5F9EA0;
        font-size: 80%;
        padding-bottom: 5px;
    }
}

p {
    color: #5F9EA0;
    padding:10px;
}

/*working on line 50
