body{
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
    font-weight: 800;
    border: transparent;
}

.pageBackground{
    background: #FAEBD7;
    background: -webkit-linear-gradient(10deg, #FAEBD7 40%, #66CDAA 10%);
    background: -o-linear-gradient(10deg, #FAEBD7 40%, #66CDAA 10%);
    background: -moz-linear-gradient(10deg, #FAEBD7 40%, #66CDAA 10%);
    background: linear-gradient(10deg, #FAEBD7 40%, #66CDAA 10%);
    height: 100%;
}

ul a{
    font-size: 160%;
}

.navbar{
    background-image: none;
}

#liEdit:hover{
    color: #FFFAF0;
}

#liEdit{
    color: #696969;
}

.background{
    background: #FFFAF0;
    margin: auto;
    max-width: 1400px;
}

.backgroundNav{
    background: transparent;
    border: none;
}

h1 {
    color: #008080;
    padding-top: 10px;
    font-size: 300%;
    font-weight: 900;
}

.extra-largeH1 {
    font-size: 600%;
    padding-left: 5px;
}

h1:hover{
    color: #66CDAA;
}

.text-verticle{
    display: inline-block;
    vertical-align: middle;
}

.textContainer {
    height: 430px;
    line-height: 400px;
}

.aEdit {
    text-decoration: none !important;
    color: #008080;
    font-size: 150%;
    font-weight: bold;
}

.aEdit:hover{
    color: #66CDAA;
}

.aEdit:visited{
    color: #008080;
}

h2{
    color: #5F9EA0 !important;
    padding-bottom: 10px;
}

@media only screen and (max-width: 300px){
    h1 {
        padding-top: 5px;
        font-size: 200%;
        font-weight: 900;
    }

    h2 {
        color: #5F9EA0;
        font-size: 120%;
        padding-bottom: 5px;
    }
}

p {
    color: #5F9EA0;
}

footer p
{
    padding:10px;
}

.panel{
    background: transparent !important;
    border: none !important;
}

.panel-body{
    padding: 0;
}

.removePadding{
    margin:0;
    padding:0;
}

.removePadding div {
        margin:0;
    padding:0;
}


/* slider ends */
