body{
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
    border: transparent;
}

.pageBackground{
    background: #FAEBD7;
    background: -webkit-linear-gradient(10deg, #FAEBD7 40%, #66CDAA 10%);
    background: -o-linear-gradient(10deg, #FAEBD7 40%, #66CDAA 10%);
    background: -moz-linear-gradient(10deg, #FAEBD7 40%, #66CDAA 10%);
    background: linear-gradient(10deg, #FAEBD7 40%, #66CDAA 10%);
    height: 100%;
}

ul a{
    font-size: 160%;
}


.navbar a{
    font-weight: bold;
}

#liEdit:hover{
    color: #FFFAF0;
}

/*
.starEdit{
padding: 10px 15px ;
font-size: 250%;
position: fixed;
color: #66CDAA;
}
*/

#liEdit{
    color: #696969;
}

.background{
    background: #FFFAF0;
    margin: auto;
    max-width: 1400px;
}

.backgroundNav{
    background: transparent;
    border: none;
}


h1 {
    color: #008080;
    padding-top: 10px;
    font-size: 300%;
    font-weight: 900;
}

.img-responsive {
    margin: auto;
}

.extra-largeH1 {
    font-size: 600%;
    padding-left: 5px;
}

h1:hover{
    color: #66CDAA;
}

.text-verticle{
    display: inline-block;
    vertical-align: middle;
}

.panelSpecial > .panel-body{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background: #FAEBD7;
}

.textContainer {
    height: 430px;
    line-height: 400px;
}

.aEdit:hover{
    color: #66CDAA;
}

.aEdit:visited{
    color: #008080;
}

h2{
    color: #5F9EA0 !important;
    padding-bottom: 10px;
}

.accordionModify a{
    text-decoration: none !important;
    color: #008080;
    font-size: 150%;
    font-weight: bold;
}

.accordionModify a:hover{
}

#contact .glyphicon{
    font-size: 50px;
    color:#66CDAA;
}


.well{
    background: #FFFFF0;
    padding: 5px 20px;
}

p {
    color: #5F9EA0;
    font-size: 120%;
}

footer p
{
    padding:10px;
}


.panel{
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0;
}

.panel-body{
    padding: 0;
}

@media only screen and (max-width: 500px){
    .extra-largeH1 {
        font-size: 220%;
        font-weight: 900;
    }

    .text-verticle{
        display: inline-block;
        vertical-align: top;
        horizontal-align: center;
    }
}
@media only screen and (max-width: 300px){


    h2 {
        color: #5F9EA0;
        font-size: 120%;
        padding-bottom: 5px;
    }

    .accordionModify a {
        font-size: 120%;
    }

    p{
        font-size: 100%;
    }
}




/* http://v4-alpha.getbootstrap.com/components/collapse/ */
